.chart-window {
  background: #1f1f1f;
  border: 2px solid #ff6600;
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
  overflow: hidden;
  z-index: 1000;
}

.resize-handle {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 30px;               
  height: 30px;              
  cursor: se-resize;
  background: rgba(255, 102, 0, 0.6); 
  border-top-left-radius: 6px;
  transition: background 0.2s;
}


.button-group {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  gap: 6px;
}

.lock-btn,
.detach-btn {
  background: #ff6600;
  border: none;
  border-radius: 4px;
  color: #fbf2f2;
  font-size: 14px;
  padding: 4px 8px;
  cursor: pointer;
  transition: 0.2s;
}

.lock-btn:hover,
.detach-btn:hover {
  background: rgb(12, 228, 117);
  color: #1f1f1f;
}
