/* index.js
import './index.css';  // global styles

// App.jsx
import './App.css';    // app-wide styles

// About.jsx
import './About.css';  // page-specific styles

index.css: fonts, global resets, colors

App.css: layout (navbar, footer, shared containers)

About.css: page-specific tweaks and overrides
*/


/* ChronoView Theme Colors
----------------------------------
--navbar-bg: #2a2a2a;    
--accent: #ff6600;       
--text: #fbf2f2;         
--hover: rgb(12, 228, 117); 
--background: black; 
--input-bg: #1f1f1f;
---------------------------------- */


.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--navbar-bg);
  padding: 12px 24px;
  z-index: 100; 
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
}

.nav-logo {
  color: var(--accent);
  font-size: 2.25rem;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  font-size:1.25rem;
}

.nav-links a {
  text-decoration: none;
  color: var(--text);
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: var(--hover);
}

