.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--navbar-bg);
  padding: 12px 24px;
}

.nav-logo {
  color: var(--accent);
  font-size: 2.25rem;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  font-size:1.25rem;
}

.nav-links a {
  text-decoration: none;
  color: var(--text);
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: var(--hover);
}

