/* index.js
import './index.css';  // global styles

// App.jsx
import './App.css';    // app-wide styles

// About.jsx
import './About.css';  // page-specific styles

index.css: fonts, global resets, colors

App.css: layout (navbar, footer, shared containers)

About.css: page-specific tweaks and overrides
*/


/* ChronoView Theme Colors
----------------------------------
--navbar-bg: #2a2a2a;    
--accent: #ff6600;       
--text: #fbf2f2;         
--hover: rgb(12, 228, 117); 
--background: black; 
--input-bg: #1f1f1f;
---------------------------------- */

:root {
  --navbar-bg: #2a2a2a;
  --accent: #ff6600;
  --text: #fbf2f2;
  --hover: rgb(12, 228, 117);
  --background: black; 
  --input-bg: #1f1f1f;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--background);
  color: var(--text);
  margin: 0;
  overflow-x: hidden;
  width: 100%;
}

a {
  color: var(--text);
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: var(--hover);
}


